# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Dataset / generated data
data/imdb_cleaned.csv
data/*.csv

# Temporary files
*.tmp
*.log

# Large generated training artifacts
models/lstm_model.h5
models/train_test_data.pkl

# Trained model artifacts
models/
