# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Model files
models/

# System files
.DS_Store
Thumbs.db

data/imdb_cleaned.csv
venv/

venv/

data/imdb_cleaned.csv

__pycache__/
*.pyc

.ipynb_checkpoints/